.cta {
  background-color: #caebf2;
  margin: 0 10%;
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ctaHeader {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .cta {
    display: block;
    margin: 0 10%;
  }

  .cta p,
  .cta button {
    margin: 0.5rem;
  }
}
