.redButton {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ff3b3f;
  color: #ff3b3f;
}

.redButton:hover {
  background-color: #ff3b3f;
  color: black;
}

.blueButton {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgb(66, 64, 64);
  color: rgb(66, 64, 64);
  background-color: #caebf2;
}

.blueButton:hover {
  background-color: black;
  color: white;
}
